.DS_Store
code/community/Camiloo/Channelunity/Block/_notes/
code/community/Camiloo/Channelunity/controllers/_notes/
code/community/Camiloo/Channelunity/etc/_notes/
code/community/Camiloo/Channelunity/Helper/_notes/
code/community/Camiloo/Channelunity/Model/_notes/
code/community/Camiloo/Channelunity/sql/channelunity_setup/_notes/
design/adminhtml/default/default/template/channelunity/_notes/
etc/modules/_notes/
/nbproject/private/
/nbproject

/CUMageMod-1Aug12.zip