<?xml version="1.0"?>
<config>
    <modules>
        <Camiloo_Channelunity>
            <version>1.0.0</version>
        </Camiloo_Channelunity>
    </modules>
    <frontend>
	    <secure_url>
            <channelunity_cronrun>/channelunity/cron/cronrun/</channelunity_cronrun>
        </secure_url>
        <routers>
            <channelunity>
                <use>standard</use>
                <args>
                    <module>Camiloo_Channelunity</module>
                    <frontName>channelunity</frontName>
                </args>
            </channelunity>
        </routers>
        <layout>
            <updates>
                <channelunity>
                    <file>channelunity.xml</file>
                </channelunity>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<channelunity>
				<use>admin</use>
				<args>
					<module>Camiloo_Channelunity</module>
					<frontName>channelunity</frontName>
				</args>
			</channelunity>
        </routers>
    </admin>
    <adminhtml>	
        <menu>
            
        </menu>
		<acl>
			<resources>
				<admin>
					<children>
 					    
                    </children>
				</admin>
			</resources>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
        	    <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <channelunityint>
                                            <title>ChannelUnity</title>
                                        </channelunityint>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<channelunity>
					<file>channelunity.xml</file>
				</channelunity>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <channelunity>
                <class>Camiloo_Channelunity_Model</class>
            </channelunity>
            <channelunitycustomrate>
                <class>Camiloo_Channelunity_Model_Customrate</class>
            </channelunitycustomrate>
        </models>
        <resources>
            <channelunity_setup>
                <setup>
                    <module>Camiloo_Channelunity</module>
                    <class>Camiloo_Channelunity_Model_Entity</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </channelunity_setup>
            <channelunity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </channelunity_write>
            <channelunity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </channelunity_read>
			
        </resources>
        <blocks>
            <channelunity>
                <class>Camiloo_Channelunity_Block</class>
            </channelunity>
        </blocks>
        <helpers>
            <channelunity>
                <class>Camiloo_Channelunity_Helper</class>
            </channelunity>
        </helpers>
        <events>
            <catalog_product_save_after>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>productWasSaved</method>
                    </channelunity>
                </observers>			
			</catalog_product_save_after>
			<controller_action_postdispatch>
                    <observers>

                        <controller_action_after>

                            <class>channelunity/observer</class>

 
                            <method>hookToControllerActionPostDispatch</method>

 
 
                        </controller_action_after>

 
                    </observers>

                </controller_action_postdispatch>
            <sales_order_place_after>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>orderWasPlaced</method>
                    </channelunity>
                </observers>			
			</sales_order_place_after>
          	<sales_order_invoice_pay>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>onInvoicePaid</method>
                    </channelunity>
                </observers>			
			</sales_order_invoice_pay>
			<sales_order_save_after>
				<observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>checkForCancellation</method>
                    </channelunity>
				</observers>				
			</sales_order_save_after>
            <sales_order_shipment_track_save_after>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>saveTrackingToAmazon</method>
                    </channelunity>
                </observers>
            </sales_order_shipment_track_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>shipAmazon</method>
                    </channelunity>
                </observers>
            </sales_order_shipment_save_after>
            <catalog_category_prepare_save>
                 <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>categorySave</method>
                    </channelunity>
                </observers>
            </catalog_category_prepare_save>
            <catalog_controller_category_delete>
                <observers>
                    <channelunity>
                        <type>model</type>
                        <class>channelunity/observer</class>
                        <method>categorySave</method>
                    </channelunity>
                </observers>
            </catalog_controller_category_delete>
        </events>
    </global>
    <default>
       <carriers>
           <channelunitycustomrate>
              <active>0</active>
              <model>channelunity/customrate</model>
              <title>ChannelUnity Shipping</title>
              <name>ChannelUnity Rate</name>
           </channelunitycustomrate>
       </carriers>
       <payment>
            <channelunitypayment>
                <active>1</active>
                <model>channelunity/payment</model>
                <order_status>processing</order_status>
                <title>ChannelUnity Order</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </channelunitypayment>
		</payment> 
	</default>
</config>